<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @channel.name %>
</p>

<p>
  <strong>Purpose:</strong>
  <%= @channel.purpose %>
</p>

<%= link_to 'Adicionar ticket', new_channel_ticket_path(@channel)  %>

<%= link_to 'Edit', edit_channel_path(@channel) %> |
<%= link_to 'Back', channels_path %>
