<div class="row ticket <%= 'unread' if ticket.unread? %>">
  <div class="col-md-9 col-sm-8 col-xs-11 col-lg-10">
    <div class="row">
      <div class="col-xs-1 col-status">
        <span>
        <%= icon :circle, '', class: "#{ticket.status}", title: ticket.status_humanized %>
        </span>
        <% if ticket.is_priority %>
          <span>
          <%= icon :exclamation, '', class: "priority", title: t('priority') %>
          </span>
        <% end %>
      </div>
      <div class="col-xs-11 truncate">
          <span class="ticket-title">
            <strong>
              <%= link_to channel_ticket_path(ticket.channel, ticket), title: ticket.subject do %>
                <%= truncate("##{ticket.id} - #{ticket.subject}", length: 82) %>
              <% end %>
            </strong>
            <%= content_tag :em, class: "truncate" do %>
              <%= link_to channel_ticket_path(ticket.channel, ticket), title: ticket.content do %>
                <%= ticket.content %>
              <% end %>
            <% end %>
          </span>
      </div>
    </div>
  </div>
  <div class="col-md-3 col-sm-4 col-xs-12 col-lg-2 col-infos">
    <div class="col-more pull-right dropdown">
      <a class="dropdown-toggle"
        data-toggle="dropdown"
        href="#">
        <b class="caret"></b>
      </a>
      <ul class="dropdown-menu">
        <li>
          <label><%= t('ticket.labels.created_by') %>:</label>
          <a href="#"><%= ticket.created_by.email %></a>
        </li>
        <% if ticket.approved? or ticket.canceled? %>
          <li>
            <label><%= t('ticket.labels.solved_at') %>:</label>
            <a href="#"><%= ticket.resolved_at %></a>
          </li>
        <% end %>
        <li>
          <label><%= t('ticket.labels.created_at') %>:</label>
          <a href="#"><%= ticket.created_at %></a>
        </li>
        <li>
          <label><%= t('ticket.labels.updated_at') %>:</label>
          <a href="#"><%= ticket.updated_at %></a>
        </li>
      </ul>
    </div>

    <div class="col-sla pull-right">
      <ul title="<%= t('sla.description') %>">
        <% resolution_sla(ticket) do |icon| %>
          <li><%= icon %></li>
        <% end %>
      </ul>
    </div>

    <div class="col-thumb pull-right">
      <%= content_tag :span, title: ticket.created_by.try(:email) do %>
        <%= image_tag ticket.created_by.avatar(:thumb), class: 'img-circle thumb' %>
      <% end %>
    </div>

    <div class="col-complexity pull-right">
      <%= complexity_image(ticket, self) %>
    </div>
  </div>
</div>
